<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank Statement</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <h1 class="mt-5">Bank Statement</h1>

    <div class="mt-3">
        <h3>Numero de Cuenta: <span th:text="${accountNumber}"></span></h3>
        <h3>Fecha: <span th:text="${month}"></span></h3>
        <h3>Balance incial: <span th:text="${initialBalance}"></span></h3>

        <table class="table mt-3">
            <tbody>
            <tr th:each="operation : ${statement}">
                <td th:text="${operation}"></td>
            </tr>
            </tbody>
        </table>

        <h3>Balance Final: <span th:text="${finalBalance}"></span></h3>
    </div>
</div>
</body>

</html>
