<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Nuevo Prestamo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Nuevo Prestamo</h1>
    <form th:action="@{/prestamos/save}" method="post" enctype="multipart/form-data" th:object="${prestamo}">
        <div class="form-group">
            <label for="monto">Monto</label>
            <input type="number" class="form-control" id="monto" name="monto" min="1" required>
        </div>

        <div class="form-group">
            <label for="interes">Interes</label>
            <input type="number" class="form-control" id="interes" name="interes" min="0" max="1" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="cuotas">Cuotas</label>
            <input type="number" class="form-control" id="cuotas" name="cuotas" min="1" required>
        </div>

        <div class="form-group">
            <label for="diaDePago">Dia de Pago (1-31)</label>
            <input type="number" class="form-control" id="diaDePago" name="diaDePago" min="1" max="31" required>
        </div>

        <div class="form-group">
            <label for="valorCuota">Valor Cuota</label>
            <input type="number" class="form-control" id="valorCuota" name="valorCuota" min="1" required>
        </div>

        <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" name="estado">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tipo">Tipo</label>
            <select class="form-control" id="tipo" name="tipo" required>
                <option value="vivienda">Vivienda</option>
                <option value="estudio">Estudio</option>
                <option value="automovil">Automovil</option>
                <option value="libre inversion">Libre Inversion</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Crear Prestamo</button>
    </form>
</div>
</body>
</html>
